/* Author: Turbofan */
/* Last Updated: March 26, 2018 */


/********** Page-wide styles **********/

/* Color palette for application */
:root {
    --blackboard: #222831;
    --slate: #393e46;
    --blue: #0092ca;
    --hoverBlue: #07F;
    --cream: #eeeeee;
    --departureGreen: #070;
    --arrivalBlue: #005AC8;
    --warning: #900;
    --emergencyRed: rgb(187, 0, 0);
    --error: #f00;
}

body {
    background-color: var(--blackboard);
    margin: 0px;
}

.container {
    text-align: center;
    margin: 0px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/********** Title Area Styles **********/

.applicationName {
    color: var(--cream);
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    letter-spacing: 0.05em;
    margin-bottom: 2em;
}

/********** Menu Bar Styles **********/

.menuBar button {
    float: left;
    padding: 0.7em;
    color: var(--cream);
    border-radius: 0.8em;
    letter-spacing: 0.08em;
    margin-bottom: 1.2em;
    margin-right: 1em;
}

.menuBar .helpButton {
    background-color: var(--blue);
}

.menuBar .resetTabGenerator, .menuBar .resetAll, .menuBar .clearTabsTable {
    background-color: var(--warning);
}

.errors {
    font-family: "Open Sans", sans-serif;
    float: right;
    padding: 0.7em;
    color: var(--error);
    font-size: 0.7em;
    height: 3em;
    width: 15em;
    overflow: auto;
}

.errors p {
    margin-top: 0em;
}

/********** Flight Info Generator Tab Styles **********/

.flightInfoGenerator {
    background-color: var(--slate);
    border-radius: 0.8em;
    clear: both;
    padding: 0.5em 0.5em 0.8em 0.5em;
}

.flightInfoGenerator .chooseVACode {
    width: 8.5em;
}

.flightInfoGenerator .chooseFlightStatus {
    width: 5em;
}

.flightInfoGenerator .chooseVACode, .flightInfoGenerator .chooseFlightStatus {
    background-color: var(--blackboard);
    color: var(--cream);
    border-radius: 0.8em;
    letter-spacing: 0.08em;
    padding: 0.9em;
    line-height: 1.3em;
}

span {
    margin-right: 0.8em;
}

.flightInfoGenerator .userInput {
    background-color: var(--blackboard);
    color: var(--cream);
    display: inline-block;
    border: 2px solid var(--cream);
    border-radius: 0.6em;
    padding: 0.6em;
    margin-right: 0.8em;
}

.flightInfoGenerator .userInput input {
    border: none;
    margin-left: 0.5em;
    background-color: var(--cream);
    color: var(--blackboard);
    border-radius: 0.1em;
}

fieldset {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: var(--cream);
    padding-top: 0.8em;
    padding-bottom: 1.2em;
}

.inputDivs {
    display: inline-block;
    position: relative;
    margin-right: 0.8em;
}

.vaCodes, .depOrArr {
    display: none;
    position: absolute;
    background-color: var(--blue);
    z-index: 1;
    border-radius: 0.8em;
}

.vaCodes {
    width: 7em;
}

.vaCodes a, .depOrArr a {
    color: var(--cream);
    padding: 0.5em;
    text-decoration: none;
    display: block;
    text-align: center;
}

.vaCodes a:hover {
    background-color: var(--hoverBlue);
}

.vaCodes a:first-child:hover {
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
}

.vaCodes a:last-child:hover {
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
}

.vaCodeInput, .vaCodeInput, .fltNoInput, .aircraftTypeInput {
    text-transform: uppercase;
}

.depOrArr {
    width: 4.4em;
}

.depOrArr a:first-child:hover {
    background-color: var(--departureGreen);
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
}

.depOrArr a:last-child:hover {
    background-color: var(--arrivalBlue);
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
}

.generateFlightTabButton {
    background-color: var(--departureGreen);
    color: var(--cream);
    border-radius: 0.8em;
    letter-spacing: 0.08em;
    padding: 0.9em;
    line-height: 1.3em;
}

/********** Flight Status Table Styles **********/

.flightStatusTable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4em;
    background-color: var(--slate);
    color: var(--cream);
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.1em;
    border-radius: 0.8em;
}

.flightStatusTable ul {
    list-style-type: none;
    padding-left: 0px;
}

.departuresList li, .arrivalsList li {
    border: 1px solid var(--cream);
    border-radius: 0.8em;
    padding: 0.5em;
    margin: 1em;
}

.deps {
    background-color: var(--departureGreen);
}

.arrs {
    background-color: var(--arrivalBlue);
}

.departuresList .emergencyButton, .departuresList .deleteTabButton {
    background-color: var(--departureGreen);
}

.arrivalsList .emergencyButton, .arrivalsList .deleteTabButton {
    background-color: var(--arrivalBlue);
}

.departuresList .emergencyButton, .arrivalsList .emergencyButton {
    color: var(--cream);
    font-weight: 200;
    border: solid 1px var(--cream);
    border-radius: 0.4em;
}

.departuresList .deleteTabButton, .arrivalsList .deleteTabButton {
    color: var(--cream);
    border: none;
}